<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.udacity.mou.meeckets">

    <application
        android:name=".MeecketsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Meeckets.Theme">

        <activity android:name=".presentation.views.tournaments.TournamentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.views.auth.AuthActivity"
            android:theme="@style/Meeckets.Theme.Dark" />

        <activity android:name=".presentation.views.tournament_details.TournamentDetailsActivity" />

        <activity android:name=".presentation.views.profile.ProfileActivity" />

        <service android:name="edu.udacity.mou.meeckets.device.accounts.accounts.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name="edu.udacity.mou.meeckets.data.datasources.database.generated.MeecketsProvider"
            android:authorities="edu.udacity.mou.meeckets.data"
            android:exported="true"
            android:syncable="true" />

        <receiver android:name=".presentation.homescreenwidgets.SubscriptionsWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/subscriptions_widget_info" />
        </receiver>

        <service
            android:name=".presentation.homescreenwidgets.SubscriptionsListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_key" />
    </application>
</manifest>
